{% extends "base.html" %}

{% block content %}
<div class="faq_container">
   <div class="faq">
      <div class="faq_question">What Is an Ultrabook?</div>
           <div class="faq_answer_container">
              <div class="faq_answer">First there was the laptop, the first truly portable PC.
                  Then came smaller, lighter tablets and netbooks, which were similar to laptops but achieved
                  their tiny size by sacrificing internal storage, battery life, processor speed, and so on...</div>
           </div>
    </div>
    <div class="faq_question">Laptop vs. Tablet: Which is Right for You?</div>
           <div class="faq_answer_container">
              <div class="faq_answer">You're considering buying a new computer, but can’t decide whether a tablet or a
                  laptop is the better choice? That's no surprise, as today's ultraportable, highly functional tablet PCs
                  have the capabilities of a full-fledged laptop...</div>
           </div>
    </div>
    <div class="faq_question">What Is a Tablet PC?</div>
           <div class="faq_answer_container">
              <div class="faq_answer">Tablet PCs have evolved substantially since their introduction to the broad consumer
                  market in 2010. So, what distinguishes a tablet from other mobile devices? How have the early Lenovo IdeaPads
                  morphed into today's Tab Series, Miix Series, ThinkPad Tablets, and Yoga 2-in-1s...</div>
           </div>
    </div>
    <div class="faq_question">What Is a Hybrid Laptop?</div>
           <div class="faq_answer_container">
              <div class="faq_answer">Either a laptop or a standalone tablet. Its changeable, hybrid design is intended to offer
                  something for everyone...</div>
           </div>
    </div>


 </div>
{% endblock %}