
{% extends "base.html" %}

{% block content %}
<div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4"> Pick your best choice: </h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Stationary</a>
          <a href="#" class="list-group-item">Laptops</a>
          <a href="#" class="list-group-item">Tablets</a>
        </div>

      </div>

      <div class="col-lg-9" style="background-color: lightgrey">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://i.dell.com/sites/csimages/App-Merchandizing_Images/all/new-deals-tile-for-category-pages-laptop-xps-15-9500-17-9700-800x620.png" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_multiple_products/laptop/new-category-page-notebook-gseries-15-5505-800x620.png?fmt=png-alpha&amp;wid=800&amp;hei=620" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_multiple_products/laptop/new-category-page-notebook-alienware-m15-r3-m17-r3-800x620.png?fmt=png-alpha&amp;wid=800&amp;hei=620" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/notebooks/inspiron_notebooks/15_3583/pdp/notebook-inspiron-15-3583-na-pdp-gallery-504x350.jpg?fmt=jpg&wid=570&hei=400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Inspiron 15 3000 Laptop</a>
                </h4>
                <h5>319.99€</h5>
                <p class="card-text">Capable processors: Intel® processors deliver incredible
                  responsiveness and smooth, seamless multitasking. Easily switch back and forth between
                  open applications with up to 18B of memory. A hard drive with up to 1TB of storage helps
                  you keep on top of your files.
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/notebooks/inspiron_notebooks/15_5501_5508/pdp/notebooks-inspiron-15-5501-5508-laptop-pdp-design-gallery504x350.jpg?fmt=jpg&wid=570&hei=400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Inspiron 15 5530 Laptop</a>
                </h4>
                <h5>324.99€</h5>
                <p class="card-text">Feel the power: The latest 11th Generation Intel® Core™
                  processors deliver incredible responsiveness and smooth, seamless multitasking.
                  Easily switch back and forth between open applications with up to 12GB DDR4 memory.
                  Perfect performance: Enjoy up to 512GB SSDs for responsive and stable performance on-the-go.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://i.dell.com/is/image/DellContent//content/dam/global-asset-library/Products/Notebooks/g-series/g3_15_3500_non-touch/dg3500nt_cnb_00055lf110_bk_baseline.psd?fmt=pjpg&pscan=auto&scl=1&hei=402&wid=402&qlt=95,0&resMode=sharp2&op_usm=1.75,0.3,2,0&size=402,402" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Dell G3 15 Gaming Laptop</a>
                </h4>
                <h5>24.99€</h5>
                <p class="card-text">NVIDIA® GeForce® GTX 1650 Ti 4GB GDDR6, 8GB DDR4-2933MHz, 2x4G
                , 256GB M.2 PCIe NVMe Solid State Drive, 15.6 inch FHD (1920 x 1080) 120Hz 250 nits WVA Anti-
                  Glare LED Backlit Narrow Border Display </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/desktops/xps_desktops/xps_8940/general/201-xps-desktop-product-images-w-nvidia-logo-desktop-xps-8940-n-odd-4000x4000.jpg?fmt=pjpg&pscan=auto&scl=1&hei=402&wid=421&qlt=95,0&resMode=sharp2&op_usm=1.75,0.3,2,0&size=421,402" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Inspiron Desktop</a>
                </h4>
                <h5>749.99€</h5>
                <p class="card-text">Don’t settle: Trade up to a space-saving, expandable
                  design that doesn’t compromise on desktop experience. Conveniently compact:
                  It’s easier than ever to find a space for this small desktop with a profile reduced
                  from 17L to 14.8L.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/desktops/inspiron_desktops/inspiron_3880/pdp/desktop-inspiron-3880-mt-pdp-gallery-504x350.jpg?fmt=jpg&wid=570&hei=400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">ALIENWARE AURORA R11 GAMING DESKTOP</a>
                </h4>
                <h5>639.99€</h5>
                <p class="card-text">10th Gen Intel® Core™ i7 10700F (8-Core, 16MB Cache, 2.9GHz to 4.8GHz w/Turbo Boost Max 3.0)
                Windows 10 Home, 64-bit, English - ANZ,SG,DI,C2,KR,TW,XM,JP
                NVIDIA® GeForce RTX™ 2060 6GB GDDR6 (OC Ready)
                16GB Dual Channel HyperX™ FURY DDR4 XMP at 2933MHz; up to 64GB (additional memory sold separately)
                256GB M.2 PCIe NVMe SSD (Boot) + 1TB 7200RPM SATA 6Gb/s (Storage)
                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="https://i.dell.com/is/image/DellContent//content/dam/global-asset-library/Products/Desktops/g-series/5000/dg5000_csy_00015rf_bk_window.psd?fmt=pjpg&pscan=auto&scl=1&hei=402&wid=247&qlt=95,0&resMode=sharp2&op_usm=1.75,0.3,2,0&size=247,402" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Dell G5 Gaming Desktop</a>
                </h4>
                <h5>749.99€</h5>
                <p class="card-text">Dell gaming machines are engineered with the specific, demanding
                  needs of the gaming audience in mind. From the latest processors to powerful discrete
                  graphics cards, they make every experience more intense and real.
                Available with Windows 10 Home or Windows 10 Pro: Gaming is better than ever on Windows 10,
                  with games in 4K, DirectX 12 and gameplay streaming.*</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jungle IT shop@Vilnius</p>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
